.header {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  font-size: 1.6rem;
}

.header-left {
  /* padding-left: .5rem; */
}

.header-right {
  /* padding-right: .5rem; */
}